@use "@/app/scss/variables" as *;

#linkBtn {
  background-color: $blue;
  font-size: 16px;
  padding: 10px 20px;
  color: $light;
  border-radius: 5px;

  &:hover {
    background-color: $dark;
  }
}
